In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [4]:
pd.options.display.max_columns = None

In [2]:
article = pd.read_csv('./data/articles.csv')
customer = pd.read_csv('./data/customers.csv')
sample = pd.read_csv('./data/sample_submission.csv')
trans = pd.read_csv('./data/transactions_train.csv')

In [6]:
article.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,perceived_colour_value_id,perceived_colour_value_name,perceived_colour_master_id,perceived_colour_master_name,department_no,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,4,Dark,5,Black,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,3,Light,9,White,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,1,Dusty Light,9,White,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,4,Dark,5,Black,1339,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,3,Light,9,White,1339,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [10]:
customer['customer_id'].nunique()

1371980

In [14]:
sample['customer_id'].nunique()

1371980

In [16]:
trans.shape

(31788324, 5)

In [17]:
trans.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

In [18]:
trans['customer_id'].nunique()

1362281

In [19]:
cold_cust = set(customer['customer_id'].unique()) - set(trans['customer_id'].unique())

In [20]:
customer[customer['customer_id'].isin(cold_cust)]

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
131,00058ecf091cea1bba9d800cabac6ed1ae284202cdab68...,NaN,NaN,ACTIVE,NONE,21.0,1e40bebdc7cbfcb0f0ee995f5e0db13428430874a75c4b...
297,000df4d2084d142416b8165bdd249bab8fea2393447aed...,1.0,1.0,ACTIVE,Regularly,22.0,2c29ae653a9282cce4151bd87643c907644e09541abc28...
544,00193ff7f374dbcfecfa7fead0488e454be4918bec1ebd...,NaN,NaN,ACTIVE,NONE,28.0,0e78861d5ef1caf30cd0c4935cff27657c069c1f2fd2ba...
671,001f00e8c1eba437ff0dbad26a9a3d49e47cbf05fff02a...,1.0,1.0,ACTIVE,Regularly,27.0,d61345e04372ca317ac03dc220889f26a99b4eb20fbf60...
809,002648d8f3b288531b24860f4a68a31d029ec5a0495c04...,1.0,1.0,ACTIVE,Regularly,41.0,4812c1daacee854264500f67aef71d1e713dca9b4755d7...
...,...,...,...,...,...,...,...
1371440,ffe5801cb2a5b51d4d068322d7f8082e995f427a6f22a6...,NaN,NaN,ACTIVE,NONE,55.0,5b8b142d4bb9e28c0d2fc8f87ca22337469f21e7eeb428...
1371554,ffeb3ca867aba57a312fe9d28d67dd46ef2240fe92a94c...,1.0,1.0,ACTIVE,Regularly,21.0,666ea034757d9ac0873fa8f213d7ea359312936e004e99...
1371739,fff456fa60aac9174456c2f36ede5e0f25429a16c88a34...,NaN,NaN,PRE-CREATE,NONE,40.0,efb648f93b15fd00f8a0067791bd47655f6577902b21fc...
1371872,fffa8d3cea26d4f5186472b923629b35fa28051f258030...,1.0,1.0,ACTIVE,Regularly,21.0,c5641c33d0f01f66e69356fdc8ccb3012b14b1f51a90d0...
1371961,ffff01710b4f0d558ff62d7dc00f0641065b37e840bb43...,1.0,1.0,ACTIVE,Regularly,18.0,fac16a7bf6ad863c32009166cf834aab744af6caaee552...